.app-container {
    background-color: aliceblue;
    width: 800px;
    position: absolute;
    display: block;
    left: 25%;
    border: aqua solid 1px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family:'Courier New', Courier, monospace
}

*, *:before, *:after {
    box-sizing: border-box;
}

input[type=text],[type=email],[type="tel"] {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    width: 50%;
}

button {

  appearance:none;
  -webkit-appearance:none;

  /* usual styles */
  padding:10px;
  border:none;
  background-color:#3F51B5;
  color:#fff;
  font-weight:600;
  border-radius:5px;
  width:20%;
}

button:hover {
    cursor: pointer;
    background-color: #6373CA;
}

.align-center {
    text-align: center;
}